<div class="modal fade" id="editBackdrop" tabindex="1" role="dialog" aria-labelledby="editBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBackdropLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EditDepartment", "SysAdmin", FormMethod.Post))
            {
        <div class="modal-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label for="departmentNameEdit" class="col-form-label">Department name:</label>
                <input type="text" class="form-control" id="departmentNameEdit" name="departmentName" value="" />


                <input type="hidden" id="departmentEdit" name="departmentId" value="" />
            </div>


            <div class="form-group">
                <label for="departmentSupervisorEdit" class="col-form-label">SupervisorId</label>
                <input type="text" class="form-control" id="departmentSupervisorEdit" name="supervisorId" value="" />
            </div>




        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>
